:root {
  --mau-color-dark: #1b3a34;
  --mau-color-light: #e1ebea;
  --mau-color-medium: #3f6960;
  --mau-color-danger: #ba4444;
  --mau-color-danger-dark: #5d0404;
  --mau-color-warning: #bfbf17;
  --mau-color-warning-dark: #3e3e21;
  --mau-color-success-light: #adefd1;
  --mau-color-background: #f5fafa;
}